{% extends "base_generic.html" %}

{% block content %}

<h1>Book List</h1>

{% if book_list %}
<ul>

{% for book in book_list %}
  <li>
    {% comment %} It’s good practice to use get_absolute_url() in templates, instead of hard-coding your objects’ URLs. {% endcomment %}
    {% comment %} For example, this template code is bad: <a href="/book/{{ object.id }}/">{{ object.name }}</a> {% endcomment %}
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
  </li>
{% endfor %}

</ul>

{% else %}
<p>There are no books in the library.</p>
{% endif %}  
     
{% endblock %}